<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div class="admin-container">
        <header>
            <h1>Admin Dashboard</h1>
            <nav>
                <ul>
                    <button onclick="location.href='/'">Logout</button>
                </ul>
            </nav>
        </header>
        <main>
            <h2>Welcome, <%= user.Name %>!</h2>
            <section class="stats">
                <button onclick="location.href='/manage-users';">Manage Users</button>
                <button onclick="location.href='/manage-staffs';">Manage Staffs</button>
                <button onclick="location.href='/manage-rooms';">Manage Rooms</button>
                <button onclick="location.href='/manage-bookings';">Manage Bookings</button>
            </section>
        </main>
    </div>
</body>
</html>
