<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Room</title>

    <!-- Embed fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet"
    />

    <!-- Reset CSS -->
    <link rel="stylesheet" href="/css/reset.css" />

    <!-- Style -->
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/table.css" />
</head>
<body>
    <!-- Header bar -->
    <div class="header-bar">
        <div class="header-bar__inner">
            <!-- Logo -->
            <a href="/admin">
                <div class="logo">
                    <span class="sigma">Sigma</span>
                    <br />
                    Hotel
                </div>
            </a>

            <!-- Navbar -->
            <nav class="navbar">
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a href="/manage-users" class="navbar__link">
                            Users
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a
                            href="/manage-staffs"
                            class="navbar__link"
                        >
                            Staffs
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="/manage-rooms" class="navbar__link" style="text-decoration: underline">
                            Rooms
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="/manage-bookings" class="navbar__link">
                            Bookings
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="/manage-payments" class="navbar__link">
                            Payments
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- Action -->
            <div class="navbar-action">
                <a href="/login" class="btn signup">Logout</a>
            </div>
        </div>
    </div>

    <div class="form-change">
        <form action="/edit-room" method="POST">
            <h1 class="section-title">Edit Room <%= user.RoomNumber %></h1>
            <input class="form-input" type="hidden" name="roomnumber" value="<%= user.RoomNumber %>">
            <div class="form-item">
                <label for="typeid">Type ID:</label>
                <select class="form-input" name="typeid" id="typeid" size="1">
                    <option value="RT001" <% if (user.TypeID == "RT001") { %>selected<% } %>>RT001</option>
                    <option value="RT002" <% if (user.TypeID == "RT002") { %>selected<% } %>>RT002</option>
                    <option value="RT003" <% if (user.TypeID == "RT003") { %>selected<% } %>>RT003</option>
                    <option value="RT004" <% if (user.TypeID == "RT004") { %>selected<% } %>>RT004</option>
                    <option value="RT005" <% if (user.TypeID == "RT005") { %>selected<% } %>>RT005</option>
                    <option value="RT006" <% if (user.TypeID == "RT006") { %>selected<% } %>>RT006</option>
                    <option value="RT007" <% if (user.TypeID == "RT007") { %>selected<% } %>>RT007</option>
                    <option value="RT008" <% if (user.TypeID == "RT008") { %>selected<% } %>>RT008</option>
                    <option value="RT009" <% if (user.TypeID == "RT009") { %>selected<% } %>>RT009</option>
                    <option value="RT010" <% if (user.TypeID == "RT010") { %>selected<% } %>>RT010</option>
                    <option value="RT011" <% if (user.TypeID == "RT011") { %>selected<% } %>>RT011</option>
                    <option value="RT012" <% if (user.TypeID == "RT012") { %>selected<% } %>>RT012</option>
                    <option value="RT013" <% if (user.TypeID == "RT013") { %>selected<% } %>>RT013</option>
                    <option value="RT014" <% if (user.TypeID == "RT014") { %>selected<% } %>>RT014</option>
                    <option value="RT015" <% if (user.TypeID == "RT015") { %>selected<% } %>>RT015</option>
                    <option value="RT016" <% if (user.TypeID == "RT016") { %>selected<% } %>>RT016</option>
                    <option value="RT017" <% if (user.TypeID == "RT017") { %>selected<% } %>>RT017</option>
                    <option value="RT018" <% if (user.TypeID == "RT018") { %>selected<% } %>>RT018</option>
                    <option value="RT019" <% if (user.TypeID == "RT019") { %>selected<% } %>>RT019</option>
                    <option value="RT020" <% if (user.TypeID == "RT020") { %>selected<% } %>>RT020</option>
                </select>
                
            </div>
            <div class="form-item">
                <label for="status">Status:</label>
                <select class="form-input" name="status" id="status" size="1">
                    <option value="Available" <% if (user.Status == "Available") { %>selected<% } %>>Available</option>
                    <option value="Occupied" <% if (user.Status == "Occupied") { %>selected<% } %>>Occupied</option>
                    <option value="Maintenance" <% if (user.Status == "Maintenance") { %>selected<% } %>>Maintenance</option>
                </select>
            </div>
            <div class="form-item">
                <label for="managedby">Managed by:</label>
                <input class="form-input" type="text" id="managedby" name="managedby" value="<%= user.StaffID %>">
            </div>
            <div>
                <button class="table-btn table-btn__add" type="submit">Save Changes</button>
            </div>
        </form>
        <form action="/manage-rooms" method="GET">
            <button class="table-btn table-btn__delete" type="submit">Cancel</button>
        </form>
    </div>
</body>
</html>
