<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Login</title>
        <!-- Embed fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <!-- Reset CSS -->
        <link rel="stylesheet" href="/css/reset.css" />

        <!-- Style -->
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/form.css" />
    </head>
    <body>
        <!-- Header bar -->
        <div class="header-bar">
            <div class="header-bar__inner">
                <!-- Logo -->
                <a href="/">
                    <div class="logo">
                        <span class="sigma">Sigma</span>
                        <br />
                        Hotel
                    </div>
                </a>

                <!-- Navbar -->
                <nav class="navbar">
                    <ul class="navbar__list">
                        <li class="navbar__item">
                            <a href="/#" class="navbar__link">Home</a>
                        </li>
                        <li class="navbar__item">
                            <a href="/#services" class="navbar__link">
                                Services
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="/#room" class="navbar__link">Room</a>
                        </li>
                        <li class="navbar__item">
                            <a href="/#about" class="navbar__link">About us</a>
                        </li>
                        <li class="navbar__item">
                            <a href="/#contact" class="navbar__link">
                                Contact us
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- Action -->
                <div class="header-action">
                    <a href="login" class="btn signup">Book Now</a>
                </div>
            </div>
        </div>

        <div class="form-wrap">
            <div class="form-action">
                <h1 class="section-title form-title">Log In</h1>
                <form action="/login" method="POST">
                    <div class="form-item">
                        <label for="username" class="subsection-title">
                            Username:
                        </label>
                        <input
                            type="text"
                            id="username"
                            name="username"
                            placeholder="Enter username"
                            class="form-input"
                            required
                        />
                    </div>

                    <div class="form-item">
                        <label
                            for="password"
                            class="subsection-title form-label"
                        >
                            Password:
                        </label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Enter password"
                            class="form-input"
                            required
                        />
                    </div>

                    <button type="submit" class="form-btn btn">Login</button>
                </form>
                <p style="color: red"><%= loginfail %></p>
                <p class="form-signup">
                    Don't have an account?
                    <a href="/signup" class="form-link">Sign Up</a>
                </p>
                <p class="form-signup">
                    <a href="/staff-login" class="form-link">
                        Log in as an Admin/Staff
                    </a>
                </p>
            </div>
            <img class="form-img" src="/img/form-img.jpg" alt="hotel" />
        </div>

        <!-- Footer -->
        <footer>
            <div id="contact" class="container">
                <h2 class="section-title footer-title">Get in Touch</h2>
                <div class="footer-content">
                    <ul class="footer-left">
                        <h3 class="subsection-title">Quick link</h3>
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Home</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Services</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">About us</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Contact</li></a
                        >
                    </ul>
                    <div class="footer-middle">
                        <p class="section-desc footer-desc">
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Officia eaque incidunt ea aut iure.
                            Blanditiis.
                        </p>
                        <form action="" class="footer-form">
                            <div class="footer-input">
                                <input
                                    type="text"
                                    name=""
                                    id=""
                                    placeholder="Enter Edging Email"
                                    class="footer-info"
                                />
                                <input
                                    type="submit"
                                    value="Submit"
                                    class="footer-info"
                                />
                            </div>
                        </form>
                    </div>
                    <ul class="footer-right">
                        <h3 class="subsection-title">Useful</h3>
                        <a href="#!" class="footer-link">
                            <li class="footer-item">Privacy policy</li>
                        </a>
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Legal</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">FAQ</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Blogs</li></a
                        >
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
