<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Login</title>
        <!-- Embed fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <!-- Style -->
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" type="text/css" href="/css/login.css" />
    </head>
    <body>
        <!-- Header bar -->
        <div class="header-bar">
            <div class="header-bar__inner">
                <!-- Logo -->
                <a href="/">
                    <div class="logo">
                        <span class="sigma">Sigma</span>
                        <br />
                        Hotel
                    </div>
                </a>

                <!-- Navbar -->
                <nav class="navbar">
                    <ul class="navbar__list">
                        <li class="navbar__item">
                            <a href="#" class="navbar__link">Home</a>
                        </li>
                        <li class="navbar__item">
                            <a href="#services" class="navbar__link"
                                >Services</a
                            >
                        </li>
                        <li class="navbar__item">
                            <a href="#room" class="navbar__link">Room</a>
                        </li>
                        <li class="navbar__item">
                            <a href="#about" class="navbar__link">About us</a>
                        </li>
                        <li class="navbar__item">
                            <a href="#contact" class="navbar__link"
                                >Contact us</a
                            >
                        </li>
                    </ul>
                </nav>

                <!-- Action -->
                <div class="header-action">
                    <a href="login" class="btn signup">Book Now</a>
                </div>
            </div>
        </div>

        <main class="container login-wrap">
            <div class="login-action">
                <h1 class="section-title">Log In</h1>
                <form action="/login" method="POST">
                    <label for="username" class="subsection-title">
                        Username:
                    </label>
                    <input
                        type="text"
                        id="username"
                        name="username"
                        placeholder="Enter username"
                        class="login-input"
                        required
                    />
                    <br />
                    <label for="password" class="subsection-title">
                        Password:
                    </label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Enter password"
                        class="login-input"
                        required
                    />
                    <br />
                    <p><%=message %></p>
                    <button type="submit" class="btn">Login</button>
                </form>
                <p class="login-signup">
                    Don't have an account?
                    <a href="/signup" class="login-link">Sign Up</a>
                </p>
                <p class="login-admin">
                    <a href="/staff-login" class="login-link">
                        Log in as an Admin/Staff
                    </a>
                </p>
            </div>
            <img class="login-img" src="\img\login-img,jpg" alt="hotel" />
        </main>
    </body>
</html>
