<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Sign Up</title>
        <!-- Embed fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <!-- Reset CSS -->
        <link rel="stylesheet" href="/css/reset.css" />

        <!-- Style -->
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/form.css" />
    </head>
    <body>
        <div class="header-bar">
            <div class="header-bar__inner">
                <!-- Logo -->
                <a href="/">
                    <div class="logo">
                        <span class="sigma">Sigma</span>
                        <br />
                        Hotel
                    </div>
                </a>

                <!-- Navbar -->
                <nav class="navbar">
                    <ul class="navbar__list">
                        <li class="navbar__item">
                            <a href="/#" class="navbar__link">Home</a>
                        </li>
                        <li class="navbar__item">
                            <a href="/#services" class="navbar__link">
                                Services
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="/#room" class="navbar__link">Room</a>
                        </li>
                        <li class="navbar__item">
                            <a href="/#about" class="navbar__link">About us</a>
                        </li>
                        <li class="navbar__item">
                            <a href="/#contact" class="navbar__link">
                                Contact us
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- Action -->
                <div class="header-action">
                    <a href="login" class="btn signup">Book Now</a>
                </div>
            </div>
        </div>

        <div class="form-wrap">
            <div class="form-action">
                <h1 class="section-title form-title">Sign Up</h1>
                <form action="/signup" method="POST">
                    <div class="form-item">
                        <label for="username" class="subsection-title">
                            Username:
                        </label>
                        <input
                            type="text"
                            id="username"
                            name="username"
                            placeholder="Enter username"
                            class="form-input"
                            required
                        />
                    </div>

                    <div class="form-item">
                        <label for="username" class="subsection-title">
                            Password:
                        </label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Enter password"
                            class="form-input"
                            required
                        />
                    </div>

                    <div class="form-item">
                        <label for="username" class="subsection-title">
                            Name:
                        </label>
                        <input
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Enter Name"
                            class="form-input"
                            required
                        />
                    </div>

                    <div class="form-item">
                        <label for="dob" class="subsection-title"> DOB: </label>
                        <input
                            type="date"
                            id="dob"
                            name="dob"
                            placeholder="Enter DOB"
                            class="form-input"
                            required
                        />
                    </div>

                    <div class="form-item">
                        <label for="address" class="subsection-title">
                            Address:
                        </label>
                        <input
                            type="text"
                            id="address"
                            name="address"
                            placeholder="Enter address"
                            class="form-input"
                            required
                        />
                    </div>

                    <div class="form-item">
                        <label for="phone" class="subsection-title">
                            Phone:
                        </label>
                        <input
                            type="text"
                            id="phone"
                            name="phone"
                            placeholder="Enter phone"
                            class="form-input"
                            required
                        />
                    </div>

                    <div class="form-item">
                        <label for="email" class="subsection-title">
                            Email:
                        </label>
                        <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Enter email"
                            class="form-input"
                            required
                        />
                    </div>

                    <button type="submit" class="form-btn btn">Sign Up</button>
                </form>
                <p class="form-signup">
                    Already have an account?
                    <a href="/login" class="form-link">Login</a>
                </p>
            </div>
            <img class="form-img" src="/img/form-img.jpg" alt="hotel" />
        </div>

        <!-- <div class="form-container">
            <h1 class="form-title">Sign Up</h1>
            <form action="/signup" method="POST">
                <label for="name" class="form-label">Name:</label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Enter Name"
                    class="form-input"
                    required
                />
                <label for="dob" class="form-label">DOB:</label>
                <input
                    type="date"
                    id="dob"
                    name="dob"
                    placeholder="Enter DOB"
                    class="form-input"
                    required
                />
                <label for="address" class="form-label">Address:</label>
                <input
                    type="text"
                    id="address"
                    name="address"
                    placeholder="Enter address"
                    class="form-input"
                    required
                />
                <label for="phone" class="form-label">Phone:</label>
                <input
                    type="text"
                    id="phone"
                    name="phone"
                    placeholder="Enter phone"
                    class="form-input"
                    required
                />
                <label for="email" class="form-label">Email:</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Enter email"
                    class="form-input"
                    required
                />
                <button type="submit" class="btn">Sign Up</button>
            </form>
            <p class="form-signup">
                Already have an account?
                <a href="/login" class="form-link">Login</a>
            </p>
        </div> -->

        <!-- Footer -->
        <footer>
            <div id="contact" class="container">
                <h2 class="section-title footer-title">Get in Touch</h2>
                <div class="footer-content">
                    <ul class="footer-left">
                        <h3 class="subsection-title">Quick link</h3>
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Home</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Services</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">About us</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Contact</li></a
                        >
                    </ul>
                    <div class="footer-middle">
                        <p class="section-desc footer-desc">
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Officia eaque incidunt ea aut iure.
                            Blanditiis.
                        </p>
                        <form action="" class="footer-form">
                            <div class="footer-input">
                                <input
                                    type="text"
                                    name=""
                                    id=""
                                    placeholder="Enter Edging Email"
                                    class="footer-info"
                                />
                                <input
                                    type="submit"
                                    value="Submit"
                                    class="footer-info"
                                />
                            </div>
                        </form>
                    </div>
                    <ul class="footer-right">
                        <h3 class="subsection-title">Useful</h3>
                        <a href="#!" class="footer-link">
                            <li class="footer-item">Privacy policy</li>
                        </a>
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Legal</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">FAQ</li></a
                        >
                        <a href="#!" class="footer-link"
                            ><li class="footer-item">Blogs</li></a
                        >
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
