<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Sign Up</title>
        <!-- Embed fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <!-- Style -->
        <link rel="stylesheet" type="text/css" href="/css/login.css" />
    </head>
    <body>
        <div class="login-container">
            <h1 class="login-title">Sign Up</h1>
            <form action="/signup" method="POST">
                <label for="username" class="login-label">Username:</label>
                <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Enter username"
                    class="login-input"
                    required
                />
                <br />
                <label for="password" class="login-label">Password:</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Enter password"
                    class="login-input"
                    required
                />
                <br />
                <button type="submit" class="btn">Sign Up</button>
            </form>
            <p class="login-signup">
                Already have an account?
                <a href="/login" class="login-link">Login</a>
            </p>
        </div>
    </body>
</html>
