/* File path: /css/guest-dashboard.css */

body {
    background-color: black;
    color: #fff;
}

.form-item {
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    display: inline-block;
    margin-top: 10px;
    width: calc(100% - 10px);
    padding: 8px;
    margin-left: 2px;
    border-radius: 5px;
    background-color: #3a3b3c;
    color: white;
    border: solid #3a3b3c;
}

.form-btn {
    margin: 0 29px;
    font-size: 1.6rem;
    padding: 20px 500px;
}
