body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding-top: 80px; /* Add padding to avoid content being hidden under the fixed header */
}

header {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

nav {
    padding-right: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    align-items: center; /* Ensure alignment of all items */
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #ff6b00;
    font-weight: bold;
    padding: 14.8px 2px;
}

nav ul li a:hover {
    text-decoration: none;
    color: black;
    background-color: #ff6b00;
}

.room-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.room-card {
    background: linear-gradient(145deg, #1e1e1e, #2a2a2a);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.room-card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.room-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.room-card h2 {
    margin: 12px 0;
    color: #ff6b00;
    font-weight: lighter;
}

.room-card p {
    margin: 0 20px 12px;
    font-size: 14px;
    color: #ccc;
}

.price-booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 12px;
}

.price {
    font-size: 16px;
    color: #ff6b00;
}

.book-now {
    background-color: #ff6b00;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.3s;
}

.book-now:hover {
    background-color: #ff8c00;
    transform: scale(1.05);
}
