/* public/css/style.css */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
    --theme-color: #ff6b00;
}

a {
    text-decoration: none;
}

body {
    background: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

.login-title {
    color: #fff;
    margin-bottom: 20px;
    font-size: 2.4rem;
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    color: #fff;
    margin-bottom: 5px;
}

.login-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.btn {
    padding: 10px;
    color: white;
    background: var(--theme-color);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.login-signup {
    color: #fff;
}

.login-admin {
    text-align: center;
}

.login-link {
    color: var(--theme-color);
    text-decoration: underline;
}

.message {
    color: red;
    margin-bottom: 10px;
}
