/* public/css/style.css */
body {
    color: #fff;
    background-color: #000;
}

.login-container {
}

.login-title {
    color: #fff;
    margin-bottom: 20px;
    font-size: 2.4rem;
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    color: #fff;
    margin-bottom: 5px;
}

.login-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.login-input {
    background-color: #3a3b3c;
    color: #fff;
}

.btn {
    padding: 10px;
    color: white;
    background: var(--theme-color);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.login-signup {
    color: #fff;
}

.login-admin {
    text-align: center;
}

.login-link {
    color: var(--theme-color);
    text-decoration: underline;
}

.message {
    color: red;
    margin-bottom: 10px;
}
