/* manage-users.css */

/* General styles */
body {
    background-color: #000;
    color: #fff;
}

.admin-container {
    width: 100%;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

/* Button styles */
.add-user-btn, .filter-btn {
    background-color: #ff6b00;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    height: 30px;
}

.add-user-btn:hover, .filter-btn:hover {
    background-color: #ff8c00;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}

table th {
    background-color: #ff6b00;
    color: white;
}

table tr:nth-child(even) {
    background-color: #3A3B3C;
}

.submit-add-btn, .close-add-btn {
    background-color: #ff6b00;
}

.submit-add-btn:hover, .close-add-btn:hover {
    background-color: #ff8c00;
}
