/* manage-users.css */

/* General styles */
body {
    background-color: #000;
    color: #fff;
}

.admin-container {
    width: 100%;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flexbox;
}

/* Button styles */
.add-user-btn,
.filter-btn {
    background-color: #ff6b00;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    height: 30px;
}

.add-user-btn:hover,
.filter-btn:hover {
    background-color: #ff8c00;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

main {
    width: 100%;
}

main h2 {
    padding: 20px 0px;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

/* Table styles */
table {
    width: 100%;
    margin-top: 20px;
    border-radius: 5%;
}

table th,
table td {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}

table th {
    background-color: #ff6b00;
    color: white;
}

table tr:nth-child(even) {
    background-color: #3a3b3c;
}

.submit-add-btn,
.close-add-btn {
    background-color: #ff6b00;
}

.submit-add-btn:hover,
.close-add-btn:hover {
    background-color: #ff8c00;
}
